Service References/ManageUserSVC/ManageUser1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/InsuranceService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/InsuranceService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:48265/ManageUser.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ManageUser.CustomerData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApplicationNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyAffilID" type="ser:guid" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustID" type="ser:guid" />
      <xs:element minOccurs="0" name="EmailID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuraceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsActivePolicy" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPropertyBuy" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSecCodeSent" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Payment" type="xs:decimal" />
      <xs:element minOccurs="0" name="PersonalID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignUpDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VerifyEmail" type="xs:boolean" />
      <xs:element minOccurs="0" name="YourID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ManageUser.CustomerData" nillable="true" type="tns:ManageUser.CustomerData" />
  <xs:complexType name="ManageUser.CoverageData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CoverageDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CoverageID" type="ser:guid" />
      <xs:element minOccurs="0" name="CustID" type="ser:guid" />
      <xs:element minOccurs="0" name="InsuraceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="yr3Loss" type="xs:boolean" />
      <xs:element minOccurs="0" name="yr5Loss" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ManageUser.CoverageData" nillable="true" type="tns:ManageUser.CoverageData" />
  <xs:complexType name="ManageUser.Documentdata">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DocumentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Documentid" type="xs:int" />
      <xs:element minOccurs="0" name="MainDocument" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ManageUser.Documentdata" nillable="true" type="tns:ManageUser.Documentdata" />
</xs:schema>