Service References/SPSServiceSVC/SPS2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Propay.Contracts.Common.ExternalPaymentMethods" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Propay.Contracts.Common.ExternalPaymentMethods" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PaymentMethodLookup">
    <xs:sequence>
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Provider" type="tns:PaymentMethodProvider" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentMethodLookup" nillable="true" type="tns:PaymentMethodLookup" />
  <xs:simpleType name="PaymentMethodProvider">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotSpecified" />
      <xs:enumeration value="VisaCheckout" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PaymentMethodProvider" nillable="true" type="tns:PaymentMethodProvider" />
</xs:schema>