Service References/SPSServiceSVC/SPS4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Propay.Contracts.SPS.External.SPSServiceData" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Propay.Contracts.SPS.External.SPSServiceData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://protectpaytest.propay.com/API/SPS.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Propay.Common.Enums.ISO" />
  <xs:import schemaLocation="http://protectpaytest.propay.com/API/SPS.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Propay.Contracts.Common.ExternalPaymentMethods" />
  <xs:import schemaLocation="http://protectpaytest.propay.com/API/SPS.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Propay.Contracts.SPS.External" />
  <xs:import schemaLocation="http://protectpaytest.propay.com/API/SPS.svc?xsd=xsd2" namespace="http://propay.com/SPS/types" />
  <xs:complexType name="ExternalPaymentMethodTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="Comment1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comment2" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Propay.Common.Enums.ISO" minOccurs="0" name="CurrencyCode" type="q1:ISOCurrencyCode" />
      <xs:element minOccurs="0" name="InputIpAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Invoice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MerchantProfileId" type="xs:long" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Propay.Contracts.Common.ExternalPaymentMethods" minOccurs="0" name="PaymentMethodLookup" nillable="true" type="q2:PaymentMethodLookup" />
      <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExternalPaymentMethodTransaction" nillable="true" type="tns:ExternalPaymentMethodTransaction" />
  <xs:complexType name="ExternalPaymentMethodSplitPayTransaction">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ExternalPaymentMethodTransaction">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Propay.Contracts.SPS.External" minOccurs="0" name="SecondaryTransaction" nillable="true" type="q3:PropayAccountTransaction" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExternalPaymentMethodSplitPayTransaction" nillable="true" type="tns:ExternalPaymentMethodSplitPayTransaction" />
  <xs:complexType name="AutoUpdatePaymentMethodRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutoUpdaterAccountId" type="xs:long" />
      <xs:element minOccurs="0" name="CreateNewPaymentMethodOnUpdate" type="xs:boolean" />
      <xs:element minOccurs="0" name="PaymentMethodId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AutoUpdatePaymentMethodRequest" nillable="true" type="tns:AutoUpdatePaymentMethodRequest" />
  <xs:complexType name="AutoUpdatePaymentMethodResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="RequestId" type="xs:long" />
      <xs:element xmlns:q4="http://propay.com/SPS/types" minOccurs="0" name="Result" nillable="true" type="q4:Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AutoUpdatePaymentMethodResult" nillable="true" type="tns:AutoUpdatePaymentMethodResult" />
</xs:schema>